body{
    padding: 0;
    margin: 0;
    background-color: slategray;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lawngreen;
    
}

.unitconverter{
    
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 20%;
}

.navbar ul{
    padding: 0;
    margin: 0;
    display: flex;
}
.navbar li{
    list-style: none;

}
.nav-links li a{
    text-decoration: none;
    padding: 1rem;
    display: block;
  }

  .box{
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:forestgreen;
    text-align: center;
}

.box h1{
    color: whitesmoke;
    text-transform: capitalize;
    font-weight: 500;
}

.results{
    display: flex;
    flex-direction: column;
    
}

.result,span{
    
    border-radius: .25em;
    text-align: center;
   
}
.results{
    margin: 2rem;
}
#p{
    border-radius: .25rem;
    text-align: center;
}
.box>input{
    height: 2rem;
}


span{
    background-color:lawngreen;
}

button{
    background-color:blue;
    padding: .3em;
    border:2px solid orangered;
    border-radius: 2rem;
    text-align: center;
    color: paleturquoise
}

button:hover{
    background-color: orangered;
}
